
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fixed Savings</ion-title> 

    <ion-buttons end *ngIf="accountBalance != null">
     <button ion-button icon-only>
         <ion-badge>{{accountBalance}}</ion-badge>
     </button>
 </ion-buttons>   
          
  </ion-navbar>
</ion-header>

<ion-content class="whitebg">
  <ion-grid>
    <div class="Pagetop">
    <ion-row> 
      <ion-col col-4>
    <div class="iconArea">
      <ion-icon item-start style="background-color: transparent !important">
          <img id="banner" height="100px" src="assets/images/fixed_acc.png">
        </ion-icon>
    </div>
      </ion-col>
    <ion-col col-8>    
    <div id="tipsContent">
     <p> This is a Fixed Save On Fixed Account And get 0.04% interest</p> 
       <p *ngIf="user !=null">{{user}}</p>  
    </div>    
  </ion-col>
    </ion-row>
  </div>
  </ion-grid> 
  <ion-list padding>
    <div class="formArea">
      <form [formGroup]="fixedAccountForm" (ngSubmit)="lockAccount()" >
        <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input type="number" formControlName="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Withdraw Date</ion-label>
      <ion-input type="date" formControlName="withdraw_date"></ion-input>
    </ion-item>
    <ion-item>      
        <button id="btnMedium" block right ion-button  color="secondary" type="submit">Lock</button>         
    </ion-item>
      </form>
    </div>
  </ion-list>

</ion-content>
