page-chama {
    .floatingBtn{
        margin-top:20px;
        // margin-bottom: 20px;    
    }
    ion-segment-button{
        text-transform: none;
    }
    #heading1{
        font-size: 18sp;
        font-family: sans-serif;
        font-weight: bold;
    }

    

}
