<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chama Account</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
   <ion-grid>
    <div class="Pagetop">
    <ion-row>
      <ion-col col-4>
      <div class="iconArea">
      <ion-icon item-start style="background-color: transparent !important">
          <img id="banner" height="100px" src="assets/images/chama_acc.png">
        </ion-icon>
    </div>
      </ion-col>
    <ion-col col-8>
    <div id="tipsContent">
     <p> Current Active Chamas</p>   
    </div>
  </ion-col>
    </ion-row>
  </div>
  </ion-grid> 
  <!--start of ion-segment-->
  <div padding>
  <ion-segment [(ngModel)]="chama">
    <ion-segment-button value="myaccounts" style="text-transform: none">
      My Chamas <ion-badge item-end>5</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="requests" style="text-transform: none">
      Requests <ion-badge item-end>0</ion-badge>
    </ion-segment-button>
    <ion-segment-button value="join_chama" style="text-transform: none">
      Join chama
    </ion-segment-button>
  </ion-segment>
</div>
<div [ngSwitch]="chama">
  <!--start accounts segment-->  
  <ion-list *ngSwitchCase="'myaccounts'">
    <ion-searchbar (ionInput)="getChama($event)"></ion-searchbar>
    <!--end ion-searchbar-->
    <ion-item *ngFor="let item of mychamas" (click)="showMore(item)" >
      <ion-avatar item-start>
        <img src="assets/images/icon.png">
      </ion-avatar>
      <h2 id="heading1">{{item.name}}</h2>
      <!--<ion-badge item-end>{{item.members}}</ion-badge>-->
    </ion-item>
    <div class="floatingBtn">
      <ion-fab end>
        <button ion-fab fab-min color="secondary" (click)="addChama()" icon-only><ion-icon name="add"></ion-icon></button>
      </ion-fab>
    </div>
  </ion-list>
  
  <!--start request ion-segment-->
  <ion-list *ngSwitchCase="'requests'">
    <ion-item>
      <ion-buttons>you dont have Any chama request</ion-buttons>      
    </ion-item>    
  </ion-list>

  <ion-list *ngSwitchCase="'join_chama'">
    <ion-searchbar (ionInput)="getChama($event)"></ion-searchbar>
    <ion-item *ngFor="let item of mChama">
      <h2 id="heading1">{{item.account_name}}</h2>
      <p>Created on:{{ item.created_at}}</p>
      <button ion-button color="secondary" item-end (click)="joinRequest(item)" >Join</button>
    </ion-item>
  </ion-list>

  
</div> 
<!--ngSwitch-->
</ion-content>


