// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$colors: (
  primary:    #7f401c,
  secondary:  #924a20,
  danger:     #e38d25,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #e29f26
);
// primary #7f401c;
// secondary #e38d25;
// danger #e29f26;
#btnMedium{
        height: 40px;
    }
  .whitebg{
        background-color: #f2f2f2;
    }
    ion-col div {               
        min-height: 100px;      
        background-color:color($colors,light);     
               
   }
   .ion-card-header{
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .acc_icon{
    margin-bottom: 0px;
  }
 .navarea{
   background-color:color($colors,secondary) !important;
   height: 100%;
 }
 ion-header {
   padding-bottom: 0px !important;
   margin: 0px !important;
 }
// for all pages with image icon on top
    ion-grid .Pagetop{
            position: relative;                  
    }
    .Pagetop{
        background-color:color($colors,danger);
        margin:-10px;
        margin-bottom: 10px;
    }
    ion-col div {
        background-color: transparent !important;        
        background-color:color($colors,danger);        
        border-radius: 2px;
        padding: 5px;
        text-align: center;
   }
   ion-col div p {
       color: #fff;
   }
   ion-col .iconArea {
       position: absolute;
       height: 80px;
       top: 20px;
   }
  //  end page banner
