page-chama-details {
    #transArea {
        background-color: #F9FAFB;
        padding: 5px;
        border: 1px solid #ddd;
        background-color: #f0f5ff;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        min-height: 100px;
        padding: 5px;
        text-align: center;

        .transIcon{
            margin-bottom: 5px;
            
        }
   }


}
